{% extends 'main/main.html' %}
{% load static %}

{% block content %}
<div class="d-flex flex-column flex-column-fluid">

    <div id="kt_app_toolbar" class="app-toolbar pt-6 pb-2">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
            <!--begin::Toolbar wrapper-->
            <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex flex-column justify-content-center text-gray-900 fw-bold fs-3 m-0">
                        Dashboard</h1>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
<!--                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0">-->
<!--                        &lt;!&ndash;begin::Item&ndash;&gt;-->
<!--                        <li class="breadcrumb-item text-muted">Dashboard</li>-->
<!--                        &lt;!&ndash;end::Item&ndash;&gt;-->
<!--                    </ul>-->
                    <!--end::Breadcrumb-->
                </div>
            </div>
            <!--end::Toolbar wrapper-->
        </div>
        <!--end::Toolbar container-->
    </div>

    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-fluid">
            <!--begin::Row-->
            <div class="row gx-5 g-xl-10 g-xl-10">
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="border border-dashed border-gray-300 text-center min-w-125px rounded pt-4 pb-2 my-3">
                        <span class="fs-4 fw-semibold text-success d-block"><i class="fas fa-users"></i> Jami talaba soni</span>
                        <span class="fs-2hx fw-bold text-gray-900 counted" data-kt-countup="true"
                              data-kt-countup-value="{{user_statistic.total_student_count}}" data-kt-initialized="1">{{user_statistic.total_student_count}} ta</span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="border border-dashed border-gray-300 text-center min-w-125px rounded pt-4 pb-2 my-3">
                        <span class="fs-4 fw-semibold text-success d-block"><i class="fas fa-key"></i> Ro'yxatdan o'tgan talaba soni</span>
                        <span class="fs-2hx fw-bold text-gray-900 counted" data-kt-countup="true"
                              data-kt-countup-value="{{user_statistic.total_registered_count}}" data-kt-initialized="1">{{user_statistic.total_registered_count}} ta</span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="border border-dashed border-gray-300 text-center min-w-125px rounded pt-4 pb-2 my-3">
                        <span class="fs-4 fw-semibold text-success d-block"><i class="fas fa-paper-plane"></i> Yuborilgan so'rovnoma soni</span>
                        <span class="fs-2hx fw-bold text-gray-900 counted" data-kt-countup="true"
                              data-kt-countup-value="{{schedule_point.total_send_notify_count}}" data-kt-initialized="1">{{schedule_point.total_send_notify_count}} ta</span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="border border-dashed border-gray-300 text-center min-w-125px rounded pt-4 pb-2 my-3">
                        <span class="fs-4 fw-semibold text-success d-block"><i class="fas fa-message"></i> Javoblangan so'rovnoma soni</span>
                        <span class="fs-2hx fw-bold text-gray-900 counted" data-kt-countup="true"
                              data-kt-countup-value="{{schedule_point.total_answers_count}}" data-kt-initialized="1">{{schedule_point.total_answers_count}} ta</span>
                    </div>
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->
</div>
{% endblock %}